.pagination {
    list-style-type: none;
    display: flex;
}

.page-item {
    margin: 3px;
    border: 1px solid black;
    padding: 1px 6px;
    border-radius: 20%;
    align-items: center;
    cursor: pointer;
}